@model ProductListModel
@{
    var prods = Model.Products;
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var brands = Json.Serialize(prods.Where(w => w.Brand != null).Select(q => q.Brand.Trim()).Distinct());
    var processorBrand = Json.Serialize(prods.Where(w => w.ProcessorBrand != null).Select(q => q.ProcessorBrand.Trim()).Distinct());
    var ram = Json.Serialize(prods.Where(w => w.Ram != null).Select(q => q.Ram.Trim()).Distinct());
    var displaySize = Json.Serialize(prods.Where(w => w.DisplaySize != null).Select(q => q.DisplaySize.Trim()).Distinct());
}

@section js
{
    <script>
        let productListArea = document.getElementById("productListArea");
        let brandArea = document.getElementById("brandArea");
        let processorBrandArea = document.getElementById("processorBrandArea");
        let ramArea = document.getElementById("ramArea");
        let displaySizeArea = document.getElementById("displaySizeArea");


        let options = {
            brands: @Html.Raw(brands),
            processorBrand: @Html.Raw(processorBrand),
            ram: @Html.Raw(ram),
            displaySize: @Html.Raw(displaySize)
        };

        document.addEventListener('DOMContentLoaded', function () {
            console.info(options);
            createOptionsElements();

        }, false);

        const createOptionsElements = () => {
            for (const val of options.brands) {
                brandArea.innerHTML += brandArea.innerHTML = `<li><label class="checkbox-default" for="${val}"><input type="checkbox" id="${val}"><span>${val}</span></label></li>`;
            }

            for (const val of options.processorBrand) {
                processorBrandArea.innerHTML += processorBrandArea.innerHTML = `<li><label class="checkbox-default" for="${val}"><input type="checkbox" id="${val}"><span>${val}</span></label></li>`;
            }

            for (const val of options.ram) {
                ramArea.innerHTML += ramArea.innerHTML = `<li><label class="checkbox-default" for="${val}"><input type="checkbox" id="${val}"><span>${val}</span></label></li>`;
            }

            for (const val of options.displaySize) {
                displaySizeArea.innerHTML += displaySizeArea.innerHTML = `<li><label class="checkbox-default" for="${val}"><input type="checkbox" id="${val}"><span>${val}</span></label></li>`;
            }
        }
    </script>
}

    <div class="shop-list-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="shop-list-wrapper">
                <div class="container-fluid">
                    <div class="row flex-column-reverse flex-lg-row">
                        <div class="col-xl-3 col-lg-3">
                            <!-- Start Sidebar Area -->
                            <div class="siderbar-section">
                                <!-- Start Single Sidebar Widget -->
                                <div class="sidebar-single-widget">
                                    <h6 class="sidebar-title title-border title-border">Categories</h6>
                                    <div class="sidebar-content">
                                        <div class="filter-type-select">
                                            <ul id="brandArea"></ul>
                                        </div>
                                    </div>
                                </div> 
                                <!-- End Single Sidebar Widget -->
                                <!-- Start Single Sidebar Widget -->
                                <div class="sidebar-single-widget">
                                    <h6 class="sidebar-title title-border">Processor Brand</h6>
                                    <div class="sidebar-content">
                                        <div class="filter-type-select">
                                            <ul id="processorBrandArea"></ul>
                                        </div>
                                    </div>
                                </div> <!-- End Single Sidebar Widget -->
                                <!-- Start Single Sidebar Widget -->
                                <div class="sidebar-single-widget">
                                    <h6 class="sidebar-title title-border">Ram</h6>
                                    <div class="sidebar-content">
                                        <div class="filter-type-select">
                                            <ul id="ramArea"></ul>
                                        </div>
                                    </div>
                                </div> <!-- End Single Sidebar Widget -->
                                <!-- Start Single Sidebar Widget -->
                                <div class="sidebar-single-widget">
                                    <h6 class="sidebar-title title-border">Display Size</h6>
                                    <div class="sidebar-content">
                                        <div class="filter-type-select">
                                            <ul id="displaySizeArea"></ul>
                                        </div>
                                    </div>
                                </div> <!-- End Single Sidebar Widget -->
                            </div> <!-- End Sidebar Area -->
                        </div>
                        <div class="col-xl-8 offset-xl-1 col-lg-9">
                            <div class="product-shop-list-items">
                                <div class="row mb-n25" id="productListArea">
                                @foreach (var p in prods)
                                {

                                    <!-- Start Product Single Item -->
                                    <div class="col-md-6 col-12 mb-25">
                                        <div class="product-single-item-style-1">
                                            <img class="img-fluid" src="@p.ImageUrl" alt="">
                                            <ul class="tooltip-tag-items">
                                                <li class="color-green">@p.Score</li>
                                            </ul>
                                            <div class="content">
                                                <div class="top">
                                                    <span class="catagory">@p.Brand</span>
                                                    <h4 class="title">@p.ModelName - @p.ModelNo</h4>
                                                    <span class="price">@p.Prices</span>
                                                </div>
                                                <div class="bottom">
                                                    <div class="product-event-items">
                                                        <a href="cart.html" class="btn cart-btn">Add to cart</a>
                                                        <a href="wishlist.html" class="btn wishlist-btn"><span class="material-icons">favorite_border</span></a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Product Single Item -->
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Shop List Section:::... -->