@model List<ProductDTO>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewData["Desc"] = "Ürünleri düzenleyebilirsiniz";
}

<!-- Hoverable rows start -->
<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ürün Listesi</h4>
                    <div class="card-actions">
  @*                      <a asp-area="admin" asp-controller="product" asp-action="update-database" class="btn btn-outline-success">Verileri Yenile</a>*@
                        <button id="refreshDatabaseListButton" class="btn btn-outline-success">Verileri Yenile</button>
                    </div>
                </div>
                <div class="card-content">
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Marka</th>
                                    <th>Model Adı / Model No</th>
                                    <th>Score</th>
                                    <th>Fiyat</th>
                                    <th>Kaynak</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model is not null)
                                {
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            <td class="text-bold-500">@product.Id</td>
                                            <td class="text-bold-500">@product.Brand</td>
                                            <td class="text-bold-500">@product.ModelName <br>  @product.ModelNo</td>
                                            <td>@product.Score</td>
                                            <td class="text-bold-500">@product.Prices</td>
                                            <td>@product.Site</td>
                                            <td class="">
                                                <a class="btn btn-secondary m-1" href="/admin/product/edit?id=@product.Id">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <a class="btn btn-danger m-1" href="/admin/product/delete?id=@product.Id">
                                                    <i class="bi bi-trash3 "></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hoverable rows end -->
@section js
    {
    <script>
        document.getElementById("refreshDatabaseListButton").addEventListener("click", () => {
            $.ajax({
                url: "/admin/product/update-database",
                type: 'GET',
                success: function (res) {
                    location.reload();
                },
                error: function (res) {
                    console.error(res);
                }
            });
        });
    </script>
}
